<div class="t1 font-0 my-0 mx-25 flex-grow-0 flex-basis-150px">
  <img
    alt="Map image at coordinates {{@lat}},{{@lng}}"
    ...attributes
    src={{this.src}}
    width={{@width}} height={{@height}}
  >
</div>
